{% extends "layout2.html" %}
{% block content %}
<div class="cuerpo">
    <h1>Sobre Nosotros</h1>
    <p>Bienvenido a nuestra aplicación de fitness, la herramienta perfecta para mantenerse en forma y llevar un estilo de vida saludable desde la comodidad de tu hogar.</p>
        <div class="comp">
            <h2>¿Qué ofrecemos?</h2>
            <p>Nuestra aplicación de fitness proporciona una amplia gama de funciones y características diseñadas para ayudarte a alcanzar tus objetivos de salud y bienestar. Algunas de nuestras características principales incluyen:</p>

            <ul>
	            <li>Clases virtuales: Accede a una variedad de clases virtuales en vivo, dirigidas por instructores altamente calificados. Ya sea que estés interesado en yoga, aeróbicos, entrenamiento de fuerza o baile, tenemos la clase perfecta para ti.</li>
	            <li>Programas de entrenamiento personalizados: Nuestros expertos en fitness pueden crear planes de entrenamiento personalizados adaptados a tus necesidades y objetivos individuales. Obtén una rutina de ejercicios diseñada especialmente para ti y realiza un seguimiento de tu progreso a medida que avanzas.</li>
	            <li>Seguimiento de actividad: Registra y realiza un seguimiento de tu actividad física diaria, incluyendo pasos dados, distancia recorrida y calorías quemadas. Observa tu progreso con gráficos detallados y establece metas para mantenerte motivado.</li>
            </ul>
        </div>
    <h2>¿Por qué elegir nuestra aplicación de fitness?</h2>
    <p>En nuestra aplicación, nos esforzamos por brindar la mejor experiencia de fitness virtual posible. Aquí están algunas razones para elegirnos:</p>

    <ol>
	    <li>Variedad y flexibilidad: Ofrecemos una amplia variedad de clases y programas de entrenamiento para adaptarnos a diferentes intereses y niveles de condición física. Puedes elegir las clases que más te gusten y realizarlas en el momento que mejor se ajuste a tu horario.</li>
	    <li>Calidad de los instructores: Nuestros instructores son profesionales capacitados y apasionados por el fitness. Te brindarán una guía experta y te ayudarán a maximizar tus resultados.</li>
	    <li>Comodidad y accesibilidad: No importa dónde te encuentres, puedes acceder a nuestra aplicación desde cualquier dispositivo con conexión a internet. Ya sea en casa, en el gimnasio o de viaje, nunca tendrás que perder una clase o dejar de ejercitar.</li>
	    <li>Personalización: Reconocemos que cada persona es única, por lo que ofrecemos la posibilidad de adaptar nuestros programas a tus necesidades individuales. Te ayudaremos a establecer metas realistas y te proporcionaremos el apoyo necesario para alcanzarlas.</li>
    </ol>

    <h2>¡Únete a nuestra aplicación de fitness hoy mismo!</h2>
    <p>No importa si eres un principiante que busca comenzar un nuevo estilo de vida saludable o un entusiasta del fitness experimentado, nuestra aplicación de fitness tiene algo para todos. ¡Registrate en nuestra aplicación y comienza tu viaje hacia una vida más saludable y activa hoy mismo!</p>
</div>
{% endblock content %}